body {
    color: black;
}

#title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#paragraphe {
    padding: 5%;
    font-size: 18px;
    text-align: justify;
}

#paragraphe h4 {
    color: rgb(236 72 153);
}

#bouton {
    margin-top: 10px;
    border-radius: 10px;
    display: block;
    font-size: 18px;
    text-align: center;
    color: white;
    border: 2px solid white;
}


a:hover{
    color: white;
}

#retourAccueil {
    padding-top: 2%;
    color: white;
}

#maintenance_memory{
    display: flex;
    width: 100%;
    height: 50%;
}

#maintenance_description {
    width: 50%;
    padding: 1%;
}

#maintenance_description h2 {
    font-size: 26px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

#maintenance_description h3 {
    font-size: 24px;
    color: rgb(217 70 239);
    padding-bottom: 10px;
    font-weight: bold;
}

#maintenance_description p {
    font-size: 18px;
    text-align: justify;
}

#boxImg {
    display: flex;
    margin-top: 20px;
}



#veille_technologique {
    width: 50%;
    padding: 1%;
}

#veille_technologique h2 {
    font-size: 26px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

#veille_technologique h3 {
    font-size: 24px;
    color: rgb(168 85 247);
    padding-bottom: 10px;
    font-weight: bold;
}

#veille_technologique p {
    font-size: 18px;
    text-align: justify;
}

.image {
    float: left;
    margin: 0 10px 0px 0;
}

#img2 {
    margin-top: 10px;
    width: 50%;
}